#menu nav {
    display: flex;
    justify-content: space-between;
            align-items: center;
    padding: 0.875rem 1.25rem;
    background-color: #0b001a;
}
.navbar {
    position: fixed;
    top: 0; 
    width: 100%; 
    padding: 10px 0; 
    z-index: 1000; 
}
#nav-links {
    display: flex;
    gap: 1rem; 
}

.nav-extra {
    display: flex;
    align-items: center;
    margin-right: 2rem; 
}

.nav-img {
    width: 3rem; 
    height: 3rem;
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 0.625rem;
    border: 2px solid #6e1651; 
}

.nav-text {
    color: #fff; 
    font-size: 1.1rem; 
    font-weight: bold; 
    font-family: 'Courier Prime', monospace;
}

#menu nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    color: #fff;
    margin-left: auto; 
}

#menu nav ul li {
    margin: 0 1.5rem; 
}

#menu nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier Prime', monospace;
    position: relative;
    display: block;
    text-align: center;
}

#menu nav ul li a::before {
   
    margin-right: 0.25rem;
    color: #fff;
    opacity: 0.6;
    font-weight: normal;
}

.menu-number {
    display: block;
    font-size: 0.75rem;
    color: #ff69b4;
    /* margin-bottom: 0.25rem; */
    font-weight: normal;
    opacity: 0.8;
    text-align: right;

}

.menu-icon {
    display: none; 
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
}
@media (max-width: 768px) {

#menu nav {
    padding: 0.5rem 1rem;
}

/* Ajustes para la barra de navegación */
.navbar {
    flex-wrap: wrap; 

}


#nav-links li {
    margin: 0.5rem 0; 

    text-align: center; 
}

#nav-links li a {
    font-size: 1rem; 
    padding: 0.5rem 0;
}

.nav-extra {
    flex: 1;
    justify-content: center; 
}

.nav-img {
    width: 2.5rem; 
    height: 2.5rem;
    margin-right: 0.5rem;
}

.nav-text {
    font-size: 1rem;
}

}
@media (max-width: 768px) {
#nav-links {
display: none; 
flex-direction: column; 
background-color: #0b001a; 
position: absolute;
top: 100%;
right: 0;
width: 100%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
z-index: 999;
}

.menu-icon {
display: block;
font-size: 1.5rem;
cursor: pointer;
color: #fff;
}
}