
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="es">
    <link rel="icon" href="../imagenes/favicon.png" type="image/png">
    <link rel="stylesheet" href="../css/proyectos.css">
    <link rel="stylesheet" href="../css/movil.css">
    <link rel="stylesheet" href="../css/menu.css">
    <!-- Bootstrap para el carrusel -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <title>Proyecto1</title>
</head>
<body>
    <!------------------------------- NAVEGADOR ---------------------------->
    <header id="menu">
        <nav  class="navbar">
            <div class="menu-icon" id="menu-icon">
                &#9776; 
            </div>
            <div class="nav-extra">
                <img src="../imagenes/FotoMenu.jpg" alt="Foto Navegador" class="nav-img">
                <p class="nav-text">Celeste Gomez</p>
            </div>
            <ul id="nav-links">
            <li><a href="../index.html"><span class="menu-number">01</span> //   HOGAR</a></li>
            <li><a href="../index.html#aboutMe"><span class="menu-number">02</span> //   SOBRE MÍ</a></li>
            <li><a href="../index.html#proyects"><span class="menu-number">03</span> //   PROYECTOS</a></li>
            <li><a href="../index.html#contacto"><span class="menu-number">04</span> //   CONTACTO</a></li>
        </ul>
        </nav>
    </header>

    <!----------------------------- Carrusel de Imágenes------------------------->
    <section id="homeProyecto">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"></button>



            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../imagenes/01-Catsino/home.png" class="d-block w-100" alt="Home">
                </div>
                <div class="carousel-item">
                    <img src="../imagenes/01-Catsino/login.png" class="d-block w-100" alt="Login">
                </div>
                <div class="carousel-item">
                    <img src="../imagenes/01-Catsino/juegosHome.png" class="d-block w-100" alt="Seccion juegos">
                </div>
                <div class="carousel-item">
                    <img src="../imagenes/01-Catsino/bingo2.png" class="d-block w-100" alt="Bingo">
                </div>
                <div class="carousel-item">
                    <img src="../imagenes/01-Catsino/blackJack.png" class="d-block w-100" alt="Blackjack">
                </div>
                <div class="carousel-item">
                    <img src="../imagenes/01-Catsino/mayorOmenor.png" class="d-block w-100" alt="Mayor o menor juego">
                </div>
                <div class="carousel-item">
                    <img src="../imagenes/01-Catsino/muestra.png" class="d-block w-100" alt="Como jugar">
                </div>
                <div class="carousel-item">
                    <img src="../imagenes/01-Catsino/comprainfo.png" class="d-block w-100" alt="Compra">
                </div>
                <div class="carousel-item">
                    <img src="../imagenes/01-Catsino/compra2.png" class="d-block w-100" alt="Compra 2">
                </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </section>

 <!-- Sobre el Proyecto -->
<section id="about">
    <h1><strong>Sobre el Proyecto: Catsino</strong></h1>
    <p><strong>Catsino</strong> es una plataforma de juegos en línea innovadora, diseñada para ofrecer una experiencia única combinando entretenimiento digital y funcionalidad intuitiva. La plataforma permite a los usuarios disfrutar de juegos clásicos como <strong>Blackjack</strong>, <strong>Bingo</strong>, y otros juegos interactivos desde la comodidad de su hogar, todo dentro de un entorno amigable y personalizable.</p>

    <div class="about-container">
        <!-- Primera columna: Texto -->
        <div class="column left">
            <h2><strong>Perfil del Usuario</strong></h2>
            <ul class="justified-list">
                <li><strong>Consultar el historial de juegos:</strong> Revisa tus partidas previas y analiza tu desempeño.</li>
                <li><strong>Personalizar tu experiencia:</strong> Ajusta elementos de tu perfil para que reflejen tu estilo y preferencias.</li>
            </ul>
            <br>

            <h2><strong>Funcionalidades Principales</strong></h2>
            <h4><strong>1. Registro e Inicio de Sesión</strong></h4>
            <p><strong>Objetivo:</strong> Proporcionar un sistema seguro y funcional para la gestión de usuarios.</p>
            <ul class="justified-list">
                <li><strong>Encriptación de contraseñas:</strong> Implementamos el algoritmo <strong>SHA-256</strong> para almacenar contraseñas encriptadas en la base de datos.</li>
            </ul>

            <h4><strong>2. Sistema de Juegos Interactivos</strong></h4>
            <ul class="justified-list">
                <li><strong>Variedad de juegos:</strong> Incluimos Blackjack, Bingo y otros clásicos que garantizan entretenimiento continuo.</li>
                <li><strong>Interactividad:</strong> Funcionalidades diseñadas para asegurar una experiencia fluida y atractiva para los usuarios.</li>
            </ul>
            
        </div>

        <!-- Segunda columna: Tecnologías -->
        <div class="column right">
            <h2>Tecnologías Utilizadas</h2>
            <div class="technologies-container">
                <!-- Columna para Frontend -->
                <div class=" frontend">
                    <h4>Frontend</h4>
                    <div class="tools pbottom">
                        <div class="tool"><i class="fas fa-leaf"></i> Thymeleaf</div>
                        <div class="tool"><i class="fas fa-sync-alt"></i> AJAX</div>
                        <div class="tool"><i class="fab fa-css3-alt"></i> CSS</div>
                    </div>
                </div>
        
                <!-- Columna para Backend -->
                <div class="backend">
                    <h4>Backend</h4>
                    <div class="tools">
                        <div class="tool"><i class="fab fa-java"></i> Spring Boot</div>
                        <div class="tool"><i class="fas fa-lock"></i> Spring Security</div>
                        <div class="tool"><i class="fas fa-database"></i> MySQL</div>
                        <div class="tool"><i class="fas fa-cloud"></i> REST</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
    <!-- Footer -->
    <footer id="contact">
        <div class="icon-container">
            <a href="https://www.linkedin.com/in/maria-celeste-gz/" target="_blank" class="icon linkedin"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Celesgz" target="_blank" class="icon github"><i class="fab fa-github"></i></a>
            <a href="mailto:gomezcelestet@gmail.com" class="icon email"><i class="fas fa-envelope"></i></a>
        </div>   
     </footer>

    <script src="../js/menu.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
